<app-header></app-header>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>About</title>
</head>
<style>
    .about {
        font-size: 1.75rem;
    }

    .logo {
        height: 125px;
    }

    #roger {
        height: 175px;
    }
    .reviewimg {
        height: 100px;
        border: 10px;
        border-color: black;
    }

    .review {
        font-size: 0.8rem;
    }
</style>

<body>
    <br />
    <div class="container col-8">
        <div class="jumbotron">
                <hr class="my-4">
        <h1 class="display-4" style="text-align: center"><b>Welcome</b></h1>
        <img src="../../../assets/roger.jpg" class="float-left mr-2 rounded" id="roger" />
            <p class="about">Welcome to Eden. We were founded in 1981 by Roger, the shrubber. We take great pride in our plants and our service. We are all well known for our shrubberies.</p>
            <hr class="my-4">
            <br>
            <h1 class="display-4" style="text-align: center"><b>Reviews</b></h1>
            <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/knights.jpg" class="float-left mr-2 rounded reviewimg">
                        <p class="review">
                        <i>Knights Who Say Ni (ni@ni.com), 10/31/2014</i>
                        </p>
                        We enjoyed the shrubbery. T'was quite a nice shrubbery. Lilac is our favorite. We'll be back to purchase a second one so that we can make a nice little path between them.
                    </div>
            </div>
            <br>
            <div class="card">
              <div class="card-body">
                <img src="../../../assets/arthur.jpg" class="float-left mr-2 rounded reviewimg">
                <p class="review">
                  <i>King Arthur (arthur@camelot.org), 10/20/2014</i>
                </p>
                In an attempt to gain passage through the woods, we were sent on a quest to purchase a shrubbery. Fortunately, we ran into Roger the Shrubber, who dealt in shrubbery. He sold us a Lilac shrubbery at a great price. The people we gave it to liked it so much they demanded another one.
              </div>
            </div>
            <h6 style="text-align: right"><a href="#">See more reviews...</a></h6>
            <hr>
            <form action="https://formspree.io/samuelrichards975@yahoo.com" method="POST">
                <div class="form-group">
                  <label for="exampleInputName">Your Name?</label>
                  <input type="name" name="name" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail">Email?</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                </div>
                <div class="form-group">
                        <label for="exampleInputLocation">City & State?</label>
                        <input type="location" name="location" class="form-control" id="exampleInputLocation" placeholder="Location">
                </div>
                <div class="text-area">
                    <label for="InputMessage">Message?</label>
                        <input type="message" name="message" class="form-control" id="exampleInputMessage" placeholder="Message...">
                </div>
                <br>
                <div class="form-check has-success">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" id="checkboxSuccess" value="option1">
                      Sign up for Eden's newsletter!
                    </label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
<router-outlet></router-outlet>