<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class= "background_image" style="text-align:center">
  <h1 class="header">
    Welcome to
  </h1>
  <div class= "front_Image">
    <img alt="Eden Logo" src="../../../assets/LogoClear.png">
  </div>
  <div class="text_Box">
      <h2 class="bottom_Text" id="box_Header">About Eden</h2>
      <p class="bottom_Text" id= "box_Body">Eden is all about the Shrubberies! We were established March 14 of 1975 by one of the most famous Shrubbers of all the land, Roger the Shrubber. We are known to arrange, design, and sell shrubberies. This has been our trade and we take pride in what we do! </p>
  </div>
    
</div>
<router-outlet></router-outlet>
<div style="text-align:center">

</div>
